<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Minimalist</title>
</head>
<body style="font-family: Segoe, Verdana, 'sans-serif';padding-left: 80px;padding-top: 20px;padding-right: 80px;">
	<h1>FIRSTNAME LASTNAME</h1>
	<div style="font-style: italic">
		<h4>Phone Number | Email Address | Address</h4>
	</div>
	<div>
		<p>Objective goes here.</p>
	</div>
	<h2>E X P E R I E N C E</h2>
	<div>
		<h4 style="margin-top: -10px;">Position 1</h4>
		<h5 style="margin-top: -10px;">Duration 1</h5>
		<h4 style="margin-top: -10px;">
			<p style="font-style: italic">
				Description 1
			</p>
		</h4>
	</div>
	<br>
	<div>
		<h4 style="margin-top: -10px;">Position 2</h4>
		<h5 style="margin-top: -10px;">Duration 2</h5>
		<h4 style="margin-top: -10px;">
			<p style="font-style: italic">
				Description 2
			</p>
		</h4>
	</div>
	<br>
	<div>
		<h4 style="margin-top: -10px;">Position 3</h4>
		<h5 style="margin-top: -10px;">Duration 3</h5>
		<h4 style="margin-top: -10px;">
			<p style="font-style: italic">
				Description 3
			</p>
		</h4>
	</div>
	<h2>E D U C A T I O N</h2>
	<div>
		<h4 style="margin-top: -10px;">Degree 1</h4>
		<h5 style="margin-top: -10px;">Duration 1</h5>
		<h4 style="margin-top: -10px;">
			<p style="font-style: italic">
				Description 1
			</p>
		</h4>
	</div>
	<br>
	<div>
		<h4 style="margin-top: -10px;">Degree 2</h4>
		<h5 style="margin-top: -10px;">Duration 2</h5>
		<h4 style="margin-top: -10px;">
			<p style="font-style: italic">
				Description 2
			</p>
		</h4>
	</div>
	<h2>S K I L L S</h2>
	<ul>
	<li>SKILL 1</li>
	<li>SKILL 2</li>
	</ul>
</body>
</html>
