<html>
<header>
	<title>Simple - Lines - Red</title>
</header>
<style>
	body {
		font-family: Helvetica;
		padding-left: 30px;
	}
	h1 {
		color:#c4563d;
	}
	h2 {
		color:#c4563d;	
	}
	h3 {
		margin-bottom: -10px;
		font-size:16px;
	}
	h4 {
		font-size:12px;
		margin-bottom: -10px;
	}
	hr {
		color:#c4563d;
		border-top: 2px solid;
	}
</style>
<body>
	<h1>FIRSTNAME LASTNAME</h1>
	<div>
		<h3>Address</h3>
		<h3>Phone Number</h3>
		<h3>Email Address</h3>
	</div>
	<br>
	<hr>
	<h3>Objective goes here.</h3>
	<br>
	<h2><b>EXPERIENCE</b></h2>
	<hr style="margin-top: -10px;">
	<div>
		<div>
			<h3>Position 1</h3>
			<h4>Duration 1</h4>
			<h3>Description 1</h3>
		</div>
		<br>
		<div>
			<h3>Position 2</h3>
			<h4>Duration 2</h4>
			<h3>Description 2</h3>
		</div>	
		<br>
		<div>
			<h3>Position 3</h3>
			<h4>Duration 3</h4>
			<h3>Description 3</h3>
		</div>
		<br>
	</div>
	<h2><b>SKILLS</b></h2>
	<hr style="margin-top: -10px;">
	<div>
		<ul>
			<li>Skill 1</li>
			<li>Skill 2</li>
		</ul>
	</div>
	<h2><b>EDUCATION</b></h2>
	<hr style="margin-top: -10px;">
	<div>
		<div>
			<h3>Degree 1</h3>
			<h4>Duration 1</h4>
			<h3>Description 1</h3>
		</div>
		<br>
		<div>
			<h3>Degree 2</h3>
			<h4>Duration 2</h4>
			<h3>Description 2</h3>
		</div>	
		<br>
	</div>
</body>
</html>