<html>
<title>
	Simple - No Lines - Color
</title>
<style>
	h3 {
		font-weight: bolder;
	}
	h4 {
		color:#bcbcc4;
	}
	ul {
		color:#bcbcc4;
	}
	ul li{
		padding-bottom: 5px;
	}
</style>
<body style="font-family:Trebuchet MS, sans-serif;;padding-top: 40px;padding-left: 60px;">
	<h1 style="font-size: 50px;color:#0f0e73;">FIRSTNAME LASTNAME</h1>
	<p style="margin-top: -30px;color:#03c2fc;">ADDRESS | PHONE NUMBER | EMAIL</p>
	<div>
		<h3 style="color:#7f7f85;font-size: 25px;">Objective</h3>
		<p style="margin-top: -20px;color:#bcbcc4">Objective goes here.</p>
	</div>
	<div>
		<h3 style="color:#7f7f85;font-size: 25px;">Education</h3>
		<div>
			<h4 style="margin-top: -10px;font-size: 20px;color:#03c2fc;">Degree 1</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Duration 1</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Description 1</h4>
		</div>
		<br>
		<div>
			<h4 style="margin-top: -10px;font-size: 20px;color:#03c2fc;">Degree 2</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Duration 2</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Description 2</h4>
		</div>
	</div>
	<div>
		<h3 style="color:#7f7f85;font-size: 25px;">Experience</h3>
		<div>
			<h4 style="margin-top: -10px;font-size: 20px;color:#03c2fc;">Position 1</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Duration 1</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Description 1</h4>
		</div>
		<br>
		<div>
			<h4 style="margin-top: -10px;font-size: 20px;color:#03c2fc;">Position 2</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Duration 2</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Description 2</h4>
		</div>
		<br>
		<div>
			<h4 style="margin-top: -10px;font-size: 20px;color:#03c2fc;">Position 3</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Duration 3</h4>
			<h4 style="margin-top: -10px;font-size: 15px;">Description 3</h4>
		</div>
	</div>
	<div>
		<h3 style="color:#7f7f85;font-size: 25px;">Skills</h3>
		<ul style="margin-left: -20px;margin-top: -10px;">
			<li type="square">Skill 1</li>
			<li type="square">Skill 2</li>
		</ul>
	</div>
</body>
</html>