<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Simple - No Lines</title>
</head>
<body style="font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'">
	<h1 align="center">FIRSTNAME LASTNAME</h1>
	<h5 align="center" style="margin-top: -15px;"><i>email address here</i></h5>
<h5 style="margin-left: 20px;">Address here<br>Mobile Number</h5>
	<div>
	  <h3 style="padding-left: 20px;"><b>OBJECTIVE</b></h3>
		<h4 style="padding-left: 40px;">Objective goes here.</h4>
	</div>
		<div>
			<h3 style="padding-left: 20px;"><b>EDUCATION</b></h3>
			<div style="padding-left: 40px;">
				<div>
					<h4><b>Degree 1</b></h4>
					<h5 style="margin-top: -10px;">Duration 1</h5>
					<h4 style="margin-top: -10px;">Description 1 IN BULLETS</h4>
				</div>
				<div>
					<h4><b>Degree 2</b></h4>
					<h5 style="margin-top: -10px;">Duration 2</h5>
					<h4 style="margin-top: -10px;">Description 2 IN BULLETS</h4>
				</div>
			</div>
	</div>
	<div>
		<h3 style="padding-left: 20px;"><b>SKILLS</b></h3>
		<div style="padding-left: 40px;">
		<ul>
			<li>Skill 1</li>
			<li>Skill 2</li>
			<li>Skill 3</li>
			<li>Skill 4</li>
		</ul>
		</div>
	</div>
	<div>
		<h3 style="padding-left: 20px;"><b>EXPERIENCE</b></h3>
		<div style="padding-left: 40px;">
			<div>
				<h4><b>Position 1</b></h4>
				<h5 style="margin-top: -10px;">Duration 1</h5>
				<h4 style="margin-top: -10px;">Description 1</h4>
			</div>
			<div>
				<h4><b>Position 2</b></h4>
				<h5 style="margin-top: -10px;">Duration 2</h5>
				<h4 style="margin-top: -10px;">Description 2</h4>
			</div>
			<div>
				<h4><b>Position 3</b></h4>
				<h5 style="margin-top: -10px;">Duration 2</h5>
				<h4 style="margin-top: -10px;">Description 3</h4>
			</div>
		</div>
	</div>
</body>
</html>
