<html>
<head>
	<title>Simple - With Lines</title>
</head>
<body>
	<style>
		h1 {
			font-size:36px;
		}
		h4 {
			padding-left: 30px;
			font-size: 25px;
			border-bottom: 1px solid #000;
			line-height: 0.1em;
			margin: 10px 0 20px;
		}
		h4 span {
			background: #fff;
			padding:0 10px;
		}
		p {
			padding-left: 30px;
		}
		h3 {
			padding-left: 40px;
			margin-bottom: -10;
		}
		h2 {
			padding-left: 40px;
			margin-bottom: -10;
			font-size:20px;
		}
		ul li {
			padding-bottom: 10px;
		}
		p {
			font-size:20px;
			padding-left: 40px;
		}
	</style>
	<header style="text-align: center;font-size: 14px;padding-top: 0px">
		Address Goes Here * Phone Number * Email Address
 	</header>
 	<h1 align="center">FirstName LastName</h1>
 	<h4><span>Objective</span></h4>
 	<p>Objective goes here.</p>
 	<br>
 	<h4><span>Skills</span></h4>
 	<p>
 		<ul>
 			<li>Skill 1</li>
 			<li>Skill 2</li>
 		</ul>
 	</p>
 	<br>
 	<h4><span>Experience</span></h4>
 	<p>
 		<h2>Position 1</h2>
 		<h3 style="float: right;margin-top: -15;padding-right: 40px;" >Duration 1</h3>
 		<h3>Description 1</h3>
 		<br>
 		<h2>Position 2</h2>
 		<h3 style="float: right;margin-top: -15;padding-right: 40px;" >Duration 2</h3>
 		<h3>Description 2</h3>
 		<br>
 		<h2>Position 3</h2>
 		<h3 style="float: right;margin-top: -15;padding-right: 40px;" >Duration 3</h3>
 		<h3>Description 3</h3>
 		<br>
 		<br><br>
 		<h4><span>Education</span></h4>
 		<h2>Degree 1</h2>
 		<h3 style="float: right;margin-top: -15;padding-right: 40px;" >Duration 1</h3>
 		<h3>Description 1</h3>
 		<br>
 		<h2>Degree 2</h2>
 		<h3 style="float: right;margin-top: -15;padding-right: 40px;" >Duration 2 </h3>
 		<h3>Description 2</h3>
 	</p>
</body>
</html>